extends layout

block content
  h1 Add Bill

  form(action='/add_bill',method='post')
    div
      label(for='Vendor') Vendor
      br
      select(name='Vendor')
        each vendor in vendors
          option(value='#{vendor.platform_id}') #{vendor.vendor_name}
    div
      label(for='Invoice Number') Invoice Number
      br
      input(type='text', name='Invoice Number' required)
    div
      label(for='Invoice Date') Invoice Date
      br
      input(type='date', name='Invoice Date' required)
    div
      label(for='Bill Due Date') Bill Due Date
      br
      input(type='date', name='Bill Due Date' required)
    div
      label(for='Description') Description (optional)
      br
      textarea(name='Description')
    div
      label(for='Item') Item
      br
      select(name='Item')
        each item in items
          option(value='#{item.platform_id}') #{item.name} - $#{item.bill_item.unit_price}        
    div
      label(for='Quantity') Quantity
      br
      select(name='Quantity')
        - var n = 1
          while n <= 10
            option #{n++}
        

    div
      input(type='submit' value='Sync to QuickBooks')